#game {
	z-index: 10;
	position: relative;
}

#wrongRotation {
	display: none;
	z-index: 15;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 1);
}
#wrongRotationText{
	position: relative;
	float: top;
	text-align:center;
	color: rgb(255, 255, 255);
	font-size: 150%;
	top: 10%;
}
#wrongRotation img {
	  display: block;
	  width: 30%;
	  margin-left: auto;
	  margin-right: auto;
	  position: relative;
	  top: 40%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
}

.spl-branding-image{
	display: block;
	bottom: 0px;
	left: 0px;
	/*width: 30%;*/
	position: absolute;
}

#spl-more-games-btn {
	color: #754C24;
	font-weight: bold;
	background-color: #D6A461;
	border:3px;
	border-style: solid;
	border-color: #603813;;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	bottom: 0px;
	right: 0px;
	position: absolute;
}

#menu {
	position: fixed;
}

@font-face {
	font-family: 'gameFont';
	src: url('../fonts/gamefont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}